/* General Block of Navbar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0f1620;
    padding: 20px 60px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.192);
}

/* Elements inside of the Navbar */
#navbar-element-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar-element-list li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar-element-list li a {
    display: block;
    align-items: column;
    justify-content: flex-start;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 650;
    color: #ffffff;   
    transition: 0.3s ease-in-out;
}

#navbar-element-list li a:hover,
#navbar-element-list li a.active {
    color: #b9ffff;
}

#navbar-element-list li a:hover::after,
#navbar-element-list li a.active::after {
    display: flex;
    content: "";
    width: 40%;
    height: 3px;
    background-color: #b9ffff;
    position: absolute;
    bottom: -3px;
    left: 20px;
}

/* Elements inside of the Navbar (Mobile) */
#navbar-element-list-mobile {
    display: none;
}

#navbar-element-list-mobile i {
    color: #ffffff;
}








/* Media Queries */
@media screen and (max-width:769px) {
    /* Elements inside of the Navbar */
    #navbar-element-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 74px;
        right: -500px;
        width: 300px;
        height: 100vh;
        background-color: #20324b;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.336);
        padding: 40px 0 0 10px;
        transition: 0.35s ease-in-out;
    }

    #navbar-element-list.active {
        right: 0px;
    }

    #navbar-element-list li {
        margin-bottom: 30px;
    }

    #navbar-element-list li a {
        display: flex;
        flex-direction: flex-start;
        align-items: flex-start;
    }

    #navbar-element-list li a::after {
        transition: 0.3s ease-in-out;
    }

    #navbar-element-list li a i {
        margin-right: 10px;
    }

    /* Elements inside of the Navbar (Mobile) */
    #navbar-element-list-mobile {
        display: block;
    }

    #navbar-element-list-mobile i {
        font-size: 30px;
        animation: fade-in 0.5s;
    }
}








/* Animations */
@keyframes fade-in {
    from {
      opacity: 0;
      transform: scale(0.5);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
}
