.navbar {
    height: 60px;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e4e4e477;
    backdrop-filter: blur(5px);
    padding: 0px 30px;
    z-index: 99999;
}

/* Elements inside of the Navbar */
#navbar-left {
    position: relative;
    padding: 0px 0px;   
}



/* Elements inside of the Navbar (Mobile) */
#navbar-left-mobile {
    position: relative;
    display: none;
}



#navbar-right-mobile {
    position: relative;
    display: none;
}







/* Media Queries */
@media screen and (max-width:769px) {
    
    /* Elements inside of the Navbar */
    #navbar-left {
        display: none; 
    }

    #navbar-right {
        display: none;
    }

    /* Elements inside of the Navbar (Mobile) */
    #navbar-left-mobile {
        display: block;
    }

    #navbar-right-mobile {
        display: block;
        width: 100%;
    }
}








